@charset "utf-8";
/* ログイン画面のCSSはこっちに記述(login.bladeにリンクあり) */
html{color: #186AC9;
}
body{color: #186AC9;
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}




/* 全体 */

/* ホーム投稿一覧画面 */

/* プロフィール */

/* 相手のプロフィール */

/* フォローリスト */

/* フォロワーリスト */

/* ユーザー検索 */

/* モーダル */
.modal {
    display: none;
}
